{{ define "main" }}

    {{ partial "hero.html" (dict "title" .Params.hero.title "subtitle" .Params.hero.subtitle "center" true ) . }}

    <div class="wrapper">
        <div class="grid grid-hasPaddingBottom">
            <table class="table">
                <thead>
                    <tr>
                        <th class="th-isMedium">{{ i18n "packages.jurisdiction" }}</th>
                        <th>{{ i18n "packages.title" }}</th>
                        <th>{{ i18n "packages.website" }}</th>
                        <th class="th-isSmall">{{ i18n "packages.source" }}</th>
                        <th>{{ i18n "packages.legislation_explorer" }}</th>
                        <th class="th-isSmall">{{ i18n "packages.openapi_spec" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $.Site.Data.packages }}
                        <tr>
                            <td data-column="{{ i18n "packages.jurisdiction" }}">
                                {{ with .jurisdiction }}
                                    <div class="flag flag-{{ slicestr . 0 2 }}">{{ . }}</div>
                                {{ else }}
                                    <span style="color:var(--colorGray500)">-</span>
                                {{ end }}
                            </td>
                            <td data-column="{{ i18n "packages.title" }}">
                                {{ index .title $.Site.Language.Lang }}
                            </td>
                            <td data-column="{{ i18n "packages.website" }}" class="td-isTruncated">
                                {{ with .website }}
                                    {{ $url := urls.Parse . }}
                                    <a href="{{ . }}" target="_blank">{{ replace $url.Host "www." "" }}</a>
                                {{ else }}
                                    <span style="color:var(--colorGray500)">-</span>
                                {{ end }}
                            </td>
                            <td data-column="{{ i18n "packages.source" }}" class="td-isTruncated">
                                {{ with .source }}
                                    {{ $url := urls.Parse . }}
                                    <a href="{{ . }}" target="_blank">
                                        <button class="button-secondary button-small button-rounded">
                                            {{ if strings.Contains $url.Host "github" }}
                                                <i icon-name="github"></i>
                                            {{ else }}
                                                <i icon-name="file-code"></i>
                                            {{ end }}
                                        </button>
                                    </a>
                                {{ else }}
                                    <span style="color:var(--colorGray500)">-</span>
                                {{ end }}
                            </td>
                            <td data-column="{{ i18n "packages.legislation_explorer" }}" class="td-isTruncated">
                                {{ with .legislation_explorer }}
                                    <a href="{{ . }}" target="_blank">
                                        <button class="button-secondary button-small button-rounded">
                                            <i icon-name="link"></i>
                                        </button>
                                    </a>
                                {{ else }}
                                    <span style="color:var(--colorGray500)">-</span>
                                {{ end }}
                            </td>
                            <td data-column="{{ i18n "packages.openapi_spec" }}" class="td-isTruncated">
                                {{ with .openapi_spec }}
                                    <a href="{{ . }}" target="_blank">
                                        <button class="button-secondary button-small button-rounded">
                                            <i icon-name="link"></i>
                                        </button>
                                    </a>
                                {{ else }}
                                    <span style="color:var(--colorGray500)">-</span>
                                {{ end }}
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>

{{ end }}
