{{ define "main" }}

    {{ partial "hero.html" (dict "title" .Params.hero.title "subtitle" .Params.hero.subtitle "center" true ) . }}

    <div class="wrapper">
        <div class="grid grid-hasPaddingBottom">
            <div class="cards">
            {{ range $.Site.Data.showcase }}
                {{ if not .until }}
                    {{ $description := index .description $.Site.Language.Lang }}
                    {{ partial "card.html" (dict "title" .title "description" $description "country" .country "website" .website "author" .author "Site" $.Site) }}
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="grid grid-hasPaddingBottom">
            <h2 class="grid_col-12">{{ .Params.previous_reuses }}</h2>
            <div class="cards mt-l">
            {{ range sort $.Site.Data.showcase ".until" }}
                {{ if .until }}
                    {{ $description := index .description $.Site.Language.Lang }}
                    {{ partial "card.html" (dict "title" .title "description" $description "country" .country "website" .website "author" .author "until" .until "Site" $.Site) }}
                {{ end }}
            {{ end }}
            </div>
        </div>
    </div>

{{ end }}
