<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}

        <h1>The most widely adopted free and open-source engine to write rules as code</h1>
        <h2>The most widely adopted free and open-source engine to write rules as code</h2>
        <h3>The most widely adopted free and open-source engine to write rules as code</h3>
        <h4>The most widely adopted free and open-source engine to write rules as code</h4>
        <h5>The most widely adopted free and open-source engine to write rules as code</h5>
        <h6>The most widely adopted free and open-source engine to write rules as code</h6>

		<p>OpenFisca <a href="#">enables modelling</a> law and regulation for any jurisdiction in the world and making it accessible over APIs for developers, datascientists and economists.</p>
		<p>Anim enim <strong>incididunt cupidatat voluptate sunt</strong> id occaecat pariatur enim ipsum mollit officia. Culpa incididunt velit in exercitation mollit et quis pariatur aliqua et reprehenderit proident ipsum. Veniam eiusmod cupidatat nostrud quis mollit eu elit deserunt. Duis occaecat cillum sint voluptate cupidatat laborum minim.</p>
		<p>Amet ex est occaecat nostrud ipsum laborum. Elit in elit adipisicing anim. Amet sit nostrud excepteur aliqua nulla nisi irure. Incididunt mollit culpa ipsum voluptate. Magna pariatur nulla exercitation amet ipsum esse sunt ea voluptate velit voluptate qui.</p>
		<p>Dolore irure commodo in deserunt fugiat ipsum ut id. Officia non consectetur esse aliquip voluptate. Occaecat voluptate aliquip qui ut. enables modelling law and regulation for any jurisdiction in the world and making it accessible over APIs for developers, datascientists and economists.</p>

        {{ partial "footer.html" . }}
    </body>
</html>
