<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}

        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-12">
                    <h1>The most widely adopted free and open-source engine to write rules as code</h1>
                    <h2>Built with OpenFisca</h2>
                    <h2 class="h2-alternate">OpenFisca enables modelling law and regulation for any jurisdiction in the world and making it accessible over APIs for developers, datascientists and economists.</h2>
                    <h3>Improve the model</h3>
                    <h4>Policy experts and governments</h4>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-12">
                    <p>OpenFisca <a href="#">enables modelling</a> law and regulation for any jurisdiction in the world and making it accessible over APIs for developers, datascientists and economists.</p>
                    <p>Anim enim <strong>incididunt cupidatat voluptate sunt</strong> id occaecat pariatur enim ipsum mollit officia. Culpa incididunt velit in exercitation mollit et quis pariatur aliqua et reprehenderit proident ipsum. Veniam eiusmod cupidatat nostrud quis mollit eu elit deserunt. Duis occaecat cillum sint voluptate cupidatat laborum minim.</p>
                    <p>Amet ex est occaecat nostrud ipsum laborum. Elit in elit adipisicing anim. Amet sit nostrud excepteur aliqua nulla nisi irure. Incididunt mollit culpa ipsum voluptate. Magna pariatur nulla exercitation amet ipsum esse sunt ea voluptate velit voluptate qui.</p>
                    <p>Dolore irure commodo in deserunt fugiat ipsum ut id. <a href="#">Officia non consectetur esse aliquip voluptate. Occaecat voluptate aliquip qui ut. enables modelling law and regulation for any jurisdiction</a> in the world and making it accessible over APIs for developers, datascientists and economists.</p>
                    <p>Et cupidatat id commodo adipisicing tempor. Enim duis incididunt ex aliqua Lorem deserunt sunt exercitation adipisicing culpa veniam consequat aliqua. Quis laboris culpa amet pariatur. Voluptate qui elit qui sunt magna culpa adipisicing sunt deserunt commodo nulla anim ex proident. et culpa do.</p>
                    <p><a href="#" class="link-hasIcon"><i icon-name="slack"></i>Join the Slack</a></p>
                    <p><a href="#" class="link-hasIcon"><i icon-name="package"></i>See all readily available models</a></p>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-12">1</div>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-6">1</div>
                <div class="grid_col-6">2</div>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-4">1</div>
                <div class="grid_col-4">2</div>
                <div class="grid_col-4">3</div>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-3">1</div>
                <div class="grid_col-3">2</div>
                <div class="grid_col-3">3</div>
                <div class="grid_col-3">4</div>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div class="grid_col-2">1</div>
                <div class="grid_col-2">2</div>
                <div class="grid_col-2">3</div>
                <div class="grid_col-2">4</div>
                <div class="grid_col-2">5</div>
                <div class="grid_col-2">6</div>
            </div>
        </div>
        <div class="wrapper">
            <div class="grid">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
            </div>
        </div>

        {{ partial "footer.html" . }}
    </body>
</html>
