button{
	@mixin resetButton;
	background-color:var(--colorSecondary);
	display: inline-flex;
	align-items: center;
	padding: var(--M) var(--S);
	color: var(--colorWhite);
	border-radius: 6px;
	transition: all 0.1s ease-in;

	&:hover:not(:disabled) {
		background-color: var(--colorPrimary);
		color: var(--colorWhite);
		transition: all 0.1s ease-out;
	}

	& > .lucide{
		margin-right:var(--XS);
		stroke:var(--colorWhite);
	}
}

.button-secondary{
	background-color:var(--colorWhite);
	border:1px solid var(--colorPrimary);
	color: var(--colorPrimary);

	& > .lucide{
		stroke:var(--colorPrimary);
	}

	&:hover:not(:disabled) {
		background-color:var(--colorWhite);
		border:1px solid var(--colorSecondary);
		color: var(--colorSecondary);

		& > .lucide{
			stroke:var(--colorSecondary);
		}
	}
}
