.flag{
	font-size:0;

	&::after{
		font-size:2rem;
	}
}

.flag-AD::after{
	content:"\1F1E6\1F1E9";
}

.flag-AE::after{
	content:"\1F1E6\1F1EA";
}

.flag-AF::after{
	content:"\1F1E6\1F1EB";
}

.flag-AG::after{
	content:"\1F1E6\1F1EC";
}

.flag-AI::after{
	content:"\1F1E6\1F1EE";
}

.flag-AL::after{
	content:"\1F1E6\1F1F1";
}

.flag-AM::after{
	content:"\1F1E6\1F1F2";
}

.flag-AO::after{
	content:"\1F1E6\1F1F4";
}

.flag-AQ::after{
	content:"\1F1E6\1F1F6";
}

.flag-AR::after{
	content:"\1F1E6\1F1F7";
}

.flag-AS::after{
	content:"\1F1E6\1F1F8";
}

.flag-AT::after{
	content:"\1F1E6\1F1F9";
}

.flag-AU::after{
	content:"\1F1E6\1F1FA";
}

.flag-AW::after{
	content:"\1F1E6\1F1FC";
}

.flag-AX::after{
	content:"\1F1E6\1F1FD";
}

.flag-AZ::after{
	content:"\1F1E6\1F1FF";
}

.flag-BA::after{
	content:"\1F1E7\1F1E6";
}

.flag-BB::after{
	content:"\1F1E7\1F1E7";
}

.flag-BD::after{
	content:"\1F1E7\1F1E9";
}

.flag-BE::after{
	content:"\1F1E7\1F1EA";
}

.flag-BF::after{
	content:"\1F1E7\1F1EB";
}

.flag-BG::after{
	content:"\1F1E7\1F1EC";
}

.flag-BH::after{
	content:"\1F1E7\1F1ED";
}

.flag-BI::after{
	content:"\1F1E7\1F1EE";
}

.flag-BJ::after{
	content:"\1F1E7\1F1EF";
}

.flag-BL::after{
	content:"\1F1E7\1F1F1";
}

.flag-BM::after{
	content:"\1F1E7\1F1F2";
}

.flag-BN::after{
	content:"\1F1E7\1F1F3";
}

.flag-BO::after{
	content:"\1F1E7\1F1F4";
}

.flag-BQ::after{
	content:"\1F1E7\1F1F6";
}

.flag-BR::after{
	content:"\1F1E7\1F1F7";
}

.flag-BS::after{
	content:"\1F1E7\1F1F8";
}

.flag-BT::after{
	content:"\1F1E7\1F1F9";
}

.flag-BV::after{
	content:"\1F1E7\1F1FB";
}

.flag-BW::after{
	content:"\1F1E7\1F1FC";
}

.flag-BY::after{
	content:"\1F1E7\1F1FE";
}

.flag-BZ::after{
	content:"\1F1E7\1F1FF";
}

.flag-CA::after{
	content:"\1F1E8\1F1E6";
}

.flag-CC::after{
	content:"\1F1E8\1F1E8";
}

.flag-CD::after{
	content:"\1F1E8\1F1E9";
}

.flag-CF::after{
	content:"\1F1E8\1F1EB";
}

.flag-CG::after{
	content:"\1F1E8\1F1EC";
}

.flag-CH::after{
	content:"\1F1E8\1F1ED";
}

.flag-CI::after{
	content:"\1F1E8\1F1EE";
}

.flag-CK::after{
	content:"\1F1E8\1F1F0";
}

.flag-CL::after{
	content:"\1F1E8\1F1F1";
}

.flag-CM::after{
	content:"\1F1E8\1F1F2";
}

.flag-CN::after{
	content:"\1F1E8\1F1F3";
}

.flag-CO::after{
	content:"\1F1E8\1F1F4";
}

.flag-CR::after{
	content:"\1F1E8\1F1F7";
}

.flag-CU::after{
	content:"\1F1E8\1F1FA";
}

.flag-CV::after{
	content:"\1F1E8\1F1FB";
}

.flag-CW::after{
	content:"\1F1E8\1F1FC";
}

.flag-CX::after{
	content:"\1F1E8\1F1FD";
}

.flag-CY::after{
	content:"\1F1E8\1F1FE";
}

.flag-CZ::after{
	content:"\1F1E8\1F1FF";
}

.flag-DE::after{
	content:"\1F1E9\1F1EA";
}

.flag-DJ::after{
	content:"\1F1E9\1F1EF";
}

.flag-DK::after{
	content:"\1F1E9\1F1F0";
}

.flag-DM::after{
	content:"\1F1E9\1F1F2";
}

.flag-DO::after{
	content:"\1F1E9\1F1F4";
}

.flag-DZ::after{
	content:"\1F1E9\1F1FF";
}

.flag-EC::after{
	content:"\1F1EA\1F1E8";
}

.flag-EE::after{
	content:"\1F1EA\1F1EA";
}

.flag-EG::after{
	content:"\1F1EA\1F1EC";
}

.flag-EH::after{
	content:"\1F1EA\1F1ED";
}

.flag-ER::after{
	content:"\1F1EA\1F1F7";
}

.flag-ES::after{
	content:"\1F1EA\1F1F8";
}

.flag-ET::after{
	content:"\1F1EA\1F1F9";
}

.flag-FI::after{
	content:"\1F1EB\1F1EE";
}

.flag-FJ::after{
	content:"\1F1EB\1F1EF";
}

.flag-FK::after{
	content:"\1F1EB\1F1F0";
}

.flag-FM::after{
	content:"\1F1EB\1F1F2";
}

.flag-FO::after{
	content:"\1F1EB\1F1F4";
}

.flag-FR::after{
	content:"\1F1EB\1F1F7";
}

.flag-GA::after{
	content:"\1F1EC\1F1E6";
}

.flag-GB::after{
	content:"\1F1EC\1F1E7";
}

.flag-GD::after{
	content:"\1F1EC\1F1E9";
}

.flag-GE::after{
	content:"\1F1EC\1F1EA";
}

.flag-GF::after{
	content:"\1F1EC\1F1EB";
}

.flag-GG::after{
	content:"\1F1EC\1F1EC";
}

.flag-GH::after{
	content:"\1F1EC\1F1ED";
}

.flag-GI::after{
	content:"\1F1EC\1F1EE";
}

.flag-GL::after{
	content:"\1F1EC\1F1F1";
}

.flag-GM::after{
	content:"\1F1EC\1F1F2";
}

.flag-GN::after{
	content:"\1F1EC\1F1F3";
}

.flag-GP::after{
	content:"\1F1EC\1F1F5";
}

.flag-GQ::after{
	content:"\1F1EC\1F1F6";
}

.flag-GR::after{
	content:"\1F1EC\1F1F7";
}

.flag-GS::after{
	content:"\1F1EC\1F1F8";
}

.flag-GT::after{
	content:"\1F1EC\1F1F9";
}

.flag-GU::after{
	content:"\1F1EC\1F1FA";
}

.flag-GW::after{
	content:"\1F1EC\1F1FC";
}

.flag-GY::after{
	content:"\1F1EC\1F1FE";
}

.flag-HK::after{
	content:"\1F1ED\1F1F0";
}

.flag-HM::after{
	content:"\1F1ED\1F1F2";
}

.flag-HN::after{
	content:"\1F1ED\1F1F3";
}

.flag-HR::after{
	content:"\1F1ED\1F1F7";
}

.flag-HT::after{
	content:"\1F1ED\1F1F9";
}

.flag-HU::after{
	content:"\1F1ED\1F1FA";
}

.flag-ID::after{
	content:"\1F1EE\1F1E9";
}

.flag-IE::after{
	content:"\1F1EE\1F1EA";
}

.flag-IL::after{
	content:"\1F1EE\1F1F1";
}

.flag-IM::after{
	content:"\1F1EE\1F1F2";
}

.flag-IN::after{
	content:"\1F1EE\1F1F3";
}

.flag-IO::after{
	content:"\1F1EE\1F1F4";
}

.flag-IQ::after{
	content:"\1F1EE\1F1F6";
}

.flag-IR::after{
	content:"\1F1EE\1F1F7";
}

.flag-IS::after{
	content:"\1F1EE\1F1F8";
}

.flag-IT::after{
	content:"\1F1EE\1F1F9";
}

.flag-JE::after{
	content:"\1F1EF\1F1EA";
}

.flag-JM::after{
	content:"\1F1EF\1F1F2";
}

.flag-JO::after{
	content:"\1F1EF\1F1F4";
}

.flag-JP::after{
	content:"\1F1EF\1F1F5";
}

.flag-KE::after{
	content:"\1F1F0\1F1EA";
}

.flag-KG::after{
	content:"\1F1F0\1F1EC";
}

.flag-KH::after{
	content:"\1F1F0\1F1ED";
}

.flag-KI::after{
	content:"\1F1F0\1F1EE";
}

.flag-KM::after{
	content:"\1F1F0\1F1F2";
}

.flag-KN::after{
	content:"\1F1F0\1F1F3";
}

.flag-KP::after{
	content:"\1F1F0\1F1F5";
}

.flag-KR::after{
	content:"\1F1F0\1F1F7";
}

.flag-KW::after{
	content:"\1F1F0\1F1FC";
}

.flag-KY::after{
	content:"\1F1F0\1F1FE";
}

.flag-KZ::after{
	content:"\1F1F0\1F1FF";
}

.flag-LA::after{
	content:"\1F1F1\1F1E6";
}

.flag-LB::after{
	content:"\1F1F1\1F1E7";
}

.flag-LC::after{
	content:"\1F1F1\1F1E8";
}

.flag-LI::after{
	content:"\1F1F1\1F1EE";
}

.flag-LK::after{
	content:"\1F1F1\1F1F0";
}

.flag-LR::after{
	content:"\1F1F1\1F1F7";
}

.flag-LS::after{
	content:"\1F1F1\1F1F8";
}

.flag-LT::after{
	content:"\1F1F1\1F1F9";
}

.flag-LU::after{
	content:"\1F1F1\1F1FA";
}

.flag-LV::after{
	content:"\1F1F1\1F1FB";
}

.flag-LY::after{
	content:"\1F1F1\1F1FE";
}

.flag-MA::after{
	content:"\1F1F2\1F1E6";
}

.flag-MC::after{
	content:"\1F1F2\1F1E8";
}

.flag-MD::after{
	content:"\1F1F2\1F1E9";
}

.flag-ME::after{
	content:"\1F1F2\1F1EA";
}

.flag-MF::after{
	content:"\1F1F2\1F1EB";
}

.flag-MG::after{
	content:"\1F1F2\1F1EC";
}

.flag-MH::after{
	content:"\1F1F2\1F1ED";
}

.flag-MK::after{
	content:"\1F1F2\1F1F0";
}

.flag-ML::after{
	content:"\1F1F2\1F1F1";
}

.flag-MM::after{
	content:"\1F1F2\1F1F2";
}

.flag-MN::after{
	content:"\1F1F2\1F1F3";
}

.flag-MO::after{
	content:"\1F1F2\1F1F4";
}

.flag-MP::after{
	content:"\1F1F2\1F1F5";
}

.flag-MQ::after{
	content:"\1F1F2\1F1F6";
}

.flag-MR::after{
	content:"\1F1F2\1F1F7";
}

.flag-MS::after{
	content:"\1F1F2\1F1F8";
}

.flag-MT::after{
	content:"\1F1F2\1F1F9";
}

.flag-MU::after{
	content:"\1F1F2\1F1FA";
}

.flag-MV::after{
	content:"\1F1F2\1F1FB";
}

.flag-MW::after{
	content:"\1F1F2\1F1FC";
}

.flag-MX::after{
	content:"\1F1F2\1F1FD";
}

.flag-MY::after{
	content:"\1F1F2\1F1FE";
}

.flag-MZ::after{
	content:"\1F1F2\1F1FF";
}

.flag-NA::after{
	content:"\1F1F3\1F1E6";
}

.flag-NC::after{
	content:"\1F1F3\1F1E8";
}

.flag-NE::after{
	content:"\1F1F3\1F1EA";
}

.flag-NF::after{
	content:"\1F1F3\1F1EB";
}

.flag-NG::after{
	content:"\1F1F3\1F1EC";
}

.flag-NI::after{
	content:"\1F1F3\1F1EE";
}

.flag-NL::after{
	content:"\1F1F3\1F1F1";
}

.flag-NO::after{
	content:"\1F1F3\1F1F4";
}

.flag-NP::after{
	content:"\1F1F3\1F1F5";
}

.flag-NR::after{
	content:"\1F1F3\1F1F7";
}

.flag-NU::after{
	content:"\1F1F3\1F1FA";
}

.flag-NZ::after{
	content:"\1F1F3\1F1FF";
}

.flag-OM::after{
	content:"\1F1F4\1F1F2";
}

.flag-PA::after{
	content:"\1F1F5\1F1E6";
}

.flag-PE::after{
	content:"\1F1F5\1F1EA";
}

.flag-PF::after{
	content:"\1F1F5\1F1EB";
}

.flag-PG::after{
	content:"\1F1F5\1F1EC";
}

.flag-PH::after{
	content:"\1F1F5\1F1ED";
}

.flag-PK::after{
	content:"\1F1F5\1F1F0";
}

.flag-PL::after{
	content:"\1F1F5\1F1F1";
}

.flag-PM::after{
	content:"\1F1F5\1F1F2";
}

.flag-PN::after{
	content:"\1F1F5\1F1F3";
}

.flag-PR::after{
	content:"\1F1F5\1F1F7";
}

.flag-PS::after{
	content:"\1F1F5\1F1F8";
}

.flag-PT::after{
	content:"\1F1F5\1F1F9";
}

.flag-PW::after{
	content:"\1F1F5\1F1FC";
}

.flag-PY::after{
	content:"\1F1F5\1F1FE";
}

.flag-QA::after{
	content:"\1F1F6\1F1E6";
}

.flag-RE::after{
	content:"\1F1F7\1F1EA";
}

.flag-RO::after{
	content:"\1F1F7\1F1F4";
}

.flag-RS::after{
	content:"\1F1F7\1F1F8";
}

.flag-RU::after{
	content:"\1F1F7\1F1FA";
}

.flag-RW::after{
	content:"\1F1F7\1F1FC";
}

.flag-SA::after{
	content:"\1F1F8\1F1E6";
}

.flag-SB::after{
	content:"\1F1F8\1F1E7";
}

.flag-SC::after{
	content:"\1F1F8\1F1E8";
}

.flag-SD::after{
	content:"\1F1F8\1F1E9";
}

.flag-SE::after{
	content:"\1F1F8\1F1EA";
}

.flag-SG::after{
	content:"\1F1F8\1F1EC";
}

.flag-SH::after{
	content:"\1F1F8\1F1ED";
}

.flag-SI::after{
	content:"\1F1F8\1F1EE";
}

.flag-SJ::after{
	content:"\1F1F8\1F1EF";
}

.flag-SK::after{
	content:"\1F1F8\1F1F0";
}

.flag-SL::after{
	content:"\1F1F8\1F1F1";
}

.flag-SM::after{
	content:"\1F1F8\1F1F2";
}

.flag-SN::after{
	content:"\1F1F8\1F1F3";
}

.flag-SO::after{
	content:"\1F1F8\1F1F4";
}

.flag-SR::after{
	content:"\1F1F8\1F1F7";
}

.flag-SS::after{
	content:"\1F1F8\1F1F8";
}

.flag-ST::after{
	content:"\1F1F8\1F1F9";
}

.flag-SV::after{
	content:"\1F1F8\1F1FB";
}

.flag-SX::after{
	content:"\1F1F8\1F1FD";
}

.flag-SY::after{
	content:"\1F1F8\1F1FE";
}

.flag-SZ::after{
	content:"\1F1F8\1F1FF";
}

.flag-TC::after{
	content:"\1F1F9\1F1E8";
}

.flag-TD::after{
	content:"\1F1F9\1F1E9";
}

.flag-TF::after{
	content:"\1F1F9\1F1EB";
}

.flag-TG::after{
	content:"\1F1F9\1F1EC";
}

.flag-TH::after{
	content:"\1F1F9\1F1ED";
}

.flag-TJ::after{
	content:"\1F1F9\1F1EF";
}

.flag-TK::after{
	content:"\1F1F9\1F1F0";
}

.flag-TL::after{
	content:"\1F1F9\1F1F1";
}

.flag-TM::after{
	content:"\1F1F9\1F1F2";
}

.flag-TN::after{
	content:"\1F1F9\1F1F3";
}

.flag-TO::after{
	content:"\1F1F9\1F1F4";
}

.flag-TR::after{
	content:"\1F1F9\1F1F7";
}

.flag-TT::after{
	content:"\1F1F9\1F1F9";
}

.flag-TV::after{
	content:"\1F1F9\1F1FB";
}

.flag-TW::after{
	content:"\1F1F9\1F1FC";
}

.flag-TZ::after{
	content:"\1F1F9\1F1FF";
}

.flag-UA::after{
	content:"\1F1FA\1F1E6";
}

.flag-UG::after{
	content:"\1F1FA\1F1EC";
}

.flag-UM::after{
	content:"\1F1FA\1F1F2";
}

.flag-US::after{
	content:"\1F1FA\1F1F8";
}

.flag-UY::after{
	content:"\1F1FA\1F1FE";
}

.flag-UZ::after{
	content:"\1F1FA\1F1FF";
}

.flag-VA::after{
	content:"\1F1FB\1F1E6";
}

.flag-VC::after{
	content:"\1F1FB\1F1E8";
}

.flag-VE::after{
	content:"\1F1FB\1F1EA";
}

.flag-VG::after{
	content:"\1F1FB\1F1EC";
}

.flag-VI::after{
	content:"\1F1FB\1F1EE";
}

.flag-VN::after{
	content:"\1F1FB\1F1F3";
}

.flag-VU::after{
	content:"\1F1FB\1F1FA";
}

.flag-WF::after{
	content:"\1F1FC\1F1EB";
}

.flag-WS::after{
	content:"\1F1FC\1F1F8";
}

.flag-YE::after{
	content:"\1F1FE\1F1EA";
}

.flag-YT::after{
	content:"\1F1FE\1F1F9";
}

.flag-ZA::after{
	content:"\1F1FF\1F1E6";
}

.flag-ZM::after{
	content:"\1F1FF\1F1F2";
}

.flag-ZW::after{
	content:"\1F1FF\1F1FC";
}

.flag-ZZ::after{
	content:"\3c\a7\3e";
	font-size:1.4rem;
	color:var(--colorGray500);
}
