#svgdefs {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.logo {
  width: 168px;
  height: 30px;
}

.logo_association > svg {
  width: 420px;
  height: 81px;
}

.lucide {
  width: 2rem;
  height: 2rem;
  stroke-width: 1px;
  stroke: var(--colorGray600);
}

.iconWrapper {
  display: inline-flex;
  border: 1px solid var(--colorGray200);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 4px;

  & > svg {
    margin: auto;
    width: 1.6rem;
    height: 1.6rem;
  }

  &.iconWrapper-rounded {
    border-radius: 50%;
  }
}
