a,.link {
  color: var(--colorSecondary);
  text-decoration:none;
  transition: all .1s ease-in;

  &:hover {
    color: var(--colorPrimary);

    & > .lucide {
      transition: all .1s ease-in;
      stroke: var(--colorPrimary);
    }
  }
}

.link-hasDarkBG{
  color: var(--colorWhite);

  &:hover {
    color: var(--colorSecondary);

    & > .lucide {
      stroke: var(--colorSecondary);
    }
  }
}

.link-isGray{
  color: var(--colorGray600);

  &:hover {
    color: var(--colorSecondary);
  }
}

.link-hasIcon{
  display:inline-flex;
  align-items:center;

  & > .lucide{
    stroke: var(--colorSecondary);
    margin-right:var(--XS2);
  }
}
