.tags {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.tag {
  font-weight: light;
  font-size: 1.2rem;
  color: var(--colorGray700);
  border-radius: 6px;
  display: inline-flex;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 1px solid var(--colorGray300);
  height: 2.4rem;
  align-items: center;
}
