.table {
  grid-column: auto / span 12;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  & > thead {
    & > tr {
      & > th {
        padding: var(--s);
        text-align: left;
        font-weight: 500;
        background-color: var(--colorGray100);
        width: auto;

        &:first-child {
          border-radius: 6px 0 0;
        }

        &:last-child {
          border-radius: 0 6px 0 0;
        }

        &.th-isLarge {
          width: 20rem;
        }

        &.th-isMedium {
          width: 16rem;
        }

        &.th-isSmall {
          width: 10rem;
        }

        &.th-isTruncated {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  & > tbody {
    & > tr {
      border-bottom: 1px solid var(--colorGray100);

      &:last-child {
        border: none;
      }

      & > td {
        padding: var(--s);
        vertical-align: top;

        &.td-isTruncated {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  @media (--tabletLarge) {
    & > thead {
      & > tr {
        & > th {
          &.th-isLarge,
          &.th-isMedium,
          &.th-isSmall {
            width: auto;
          }
        }
      }
    }
  }

  @media (--tabletSmall) {
    & > thead {
      & > tr {
        & > th {
          display: none;
        }
      }
    }

    & > tbody {
      & > tr {
        display: block;
        padding: var(--m) 0;
        border-bottom: 1px solid var(--colorGray200);

        & > td {
          display: flex;
          flex-direction: row;
          flex-wrap: 0;
          width: 100%;
          padding: var(--xs2) var(--s);
          text-align: right;

          &::before {
            content: attr(data-column);
            flex-grow: 1;
            padding-right: var(--xs);
            text-align: left;
            font-weight: 500;
          }

          &.td-isTruncated {
            overflow: visible;
            text-overflow: none;
            white-space: normal;
          }
        }
      }
    }
  }
}
