<footer>
    <ul>
      <li><a href="mailto:{{ .Param "contact_email" }}?Subject=openfisca.org">{{ i18n "footer_nav.contact" }}</a></li>
      <li><a href="{{ .Param "status_url" }}">{{ i18n "footer_nav.status_monitor" }}</a></li>
      <li><a id="github" target="_blank"><img src="/img/GitHub-Mark-Light-64px.png" alt=""/> {{ i18n "footer_nav.contribute" }}</a></li>
      <li><a href="{{ relref . "tracking" }}">{{ i18n "footer_nav.analytics" }}</a></li>
      <li><a href="{{ relref . "legal-notice" }}">{{ i18n "footer_nav.legal_notice" }}</a></li>
    </ul>
</footer>

<script type="text/javascript" src="/scripts/edit-page.js"></script>
<script type="text/javascript" src="/scripts/track-page.js"></script>
<noscript>
    openfisca.org needs JavaScript to work properly.
    Please follow <a href="https://www.enable-javascript.com">instructions to activate JavaScript in your browser</a>.
</noscript>
