<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="/img/favicon.ico">

		<title>OpenFisca - {{ .Title}}</title>

		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="main-header">
			{{ partial "menu-links.html" . }}

			<div class="hero">
				<img id="logo-large" src="/img/logo-openfisca.svg" alt="OpenFisca">

				<h1>{{ .Title}}</h1>

				<a href="{{ "packages" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>
			</div>
		</header>

		<h1 id="products">{{ $.Param "products" }}  🚀</h1>

		{{ range $slug := .Param "homepage_featured" }}
			{{ $showcase := index $.Site.Data.showcase $slug }}
			<section class="row">
					<div class="left-col">
						{{ if eq $slug "mes_aides" | or $slug "leximpact" | or $slug "rapu_ture"}}
							<h3>
								{{ if eq $slug "mes_aides" }}
									{{ $.Param "usecases.citizens_rights.title" }}
								{{ else if eq $slug "leximpact" }}
									{{ $.Param "usecases.public_policy.title" }}
								{{ else if eq $slug "rapu_ture" }}
									{{ $.Param "usecases.explore_the_rules.title" }}
								{{ end }}
							</h3>
							<p>
								{{ if eq $slug "mes_aides" }}
									{{ $.Param "usecases.citizens_rights.description" }}
								{{ else if eq $slug "leximpact" }}
									{{ $.Param "usecases.public_policy.description" }}
								{{ else if eq $slug "rapu_ture" }}
									{{ $.Param "usecases.explore_the_rules.description" }}
								{{ end }}
							</p>
						{{ end }}
					</div>
					<figure>
						<img class="screenshot" src="{{ printf "/img/showcase/%s.jpg" $showcase.title | urlize }}" alt="{{ $showcase.title }}">
						<figcaption><a href="{{ $showcase.website | safeURL }}">{{ $showcase.title }}</a><br/>{{ index $showcase.description $.Site.Language.Lang }}</figcaption>
					</figure>
			</section>
		{{ end }}

		<a href="{{ "packages" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>

		{{ partial "footer.html" . }}
	</body>
</html>
