body {
	margin: auto;
	max-width: 40em;

	font-size: 140%;
	background-color: #F3F3F3;
	color: #222;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
