.country-gradient {
    border: 2px solid;
}

#gradient-fr {
    border-image: linear-gradient(to right, #fff, blue, white, red, #fff) 1;
}

#gradient-tn {
    border-image: linear-gradient(to right, #fff, red, white, red, #fff) 1;
}

#gradient-sn {
    border-image: linear-gradient(to right, #fff, green, yellow, red, #fff) 1;
}
