.country-gradient {
    border: 2px solid;
}

#gradient-bcn {
    border-image: linear-gradient(to right, #fff, yellow, red, yellow, red, yellow,red, yellow,red, yellow,  #fff) 1;
}

#gradient-fr {
    border-image: linear-gradient(to right, #fff, blue, white, red, #fff) 1;
}

#gradient-it {
    border-image: linear-gradient(to right, #fff, green, white, red, #fff) 1;
}

#gradient-nsw {
    border-image: linear-gradient(to right, #fff, blue, white, red, yellow, red, white, blue, #fff) 1;
}

#gradient-nz {
    border-image: linear-gradient(to right, #fff, blue, white, red, white, blue, #fff) 1;
}

#gradient-tn {
    border-image: linear-gradient(to right, #fff, red, white, red, #fff) 1;
}

#gradient-sn {
    border-image: linear-gradient(to right, #fff, green, yellow, red, #fff) 1;
}
