#gradientfr {
    border: 2px solid;
    border-image:linear-gradient(to right, #333, blue, white, red, #333) 1;
}

#gradienttn {
    border: 2px solid;
    border-image:linear-gradient(to right, #333, red, white, red, #333) 1;
}

#gradientsn {
    border: 2px solid;
    border-image:linear-gradient(to right, #333, green, yellow, red, #333) 1;
}
