header {
	margin-bottom: 3em;
	background: #1d3242;
	padding: 0 1em;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header a {
	color: #fff;
}

header > ul {
	display: flex;
	padding: 1em 0;
	min-height: 3em;
	list-style-type: none;
	margin: 0;
	align-self: flex-end;
	font-size: 80%;
	align-items: center;
}

header > ul > li + li {
	margin-left: 1em;
}

header > ul > li a {
	border-radius: .2em;
	text-decoration: none;
	padding: 5px 10px;
}

header h1 {
	font-weight: 400;
	font-size: 1.4em;
	color: #fff;
}

header .hero {
	text-align: center;
	padding: 2.5em 0 4.5em;
}

header #logo-large {
	margin-top: 3em;
	width: 10em;
}

header .intro {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .intro h1 {
	margin: 0;
	color: #fff;
	margin: 0;
	font-size: 0.8em;
	font-weight: 400;
}

header .lang {
	background-color: rgb(36, 73, 103);
}

header:not(.main-header) {
	padding: 0 1em;
	display: flex;
	align-items: center;
	background: #1d3242;
	justify-content: space-between;
	flex-direction: row;
}

header:not(.main-header) > ul {
	align-self: center;
}

@media (max-width: 720px) {
	header > ul {
    align-self: center;
	}

	header > ul > li {
		display: flex;
	}

	header:not(.main-header) {
		flex-wrap: wrap;
	}

	header:not(.main-header) .intro {
		margin-top: 1em;
	}
}
