header {
	padding-top: 1.5em;
	padding-bottom: 4em;
	margin-bottom: 3em;
	background-color: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .cta {
	max-width: 10em;
	padding: .3em 3em;
	background-color: rgb(157, 18, 60);
	border-radius: .2em;
	box-shadow: 0 0.2em 0 rgb(107, 14, 43);
	color: white;
	display: block;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
}

header .lang {
	padding: .1em 1em;
	background-color: #333;

	margin: 0 10em;
	align-self: flex-end;

	font-size: 75%;
	font-weight: bold;
}

header h1 {
	text-align: left;
	margin-bottom: 2em;
}

#logo-large {
	margin-top: 3em;
	width: 10em;
}


@media (min-width: 960px) {
	figure {
		width: 45%;
	}
}

