#legal-notice {
    display: flex;
    flex-flow: column;
}

#legal-notice section {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

#legal-notice h3 {
    margin-top: 0;
}

@media (min-width: 960px) {

    #legal-notice {
      flex-flow: row;
    }

    #legal-notice section:first-child {
        border-right: solid 1px;
    }
}
