body {
	margin: 0;
	font-size: 140%;
	font-family: "Helvetica Neue",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
	text-align: center;
	margin-bottom: 1em;
	color: #1e3242;
}

h2, h3 {
	font-weight: normal;
}

p {
	font-weight: 300;
}

a {
	text-decoration: underline;
	color: rgb(157, 18, 60);
}

section {
	max-width: 42em;
	margin: 2em auto;
	padding: 1em;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

figure {
	margin: 0;
}

figure img, figure video, figure figcaption {
	width: 100%;
}

figcaption {
	font-size: 80%;
	padding-top: 1em;
	font-style: italic;
	color: #444;
}

footer ul {
	list-style-type: none;
	font-size: 80%;
}

footer ul li {
	margin: 1em;
}

footer {
	border-top-style: solid;
	border-width: 2px;
	border-color: #666;
	background: #1d3242;
	margin-top: 3em;
	padding: 3em;
}

footer ul {
	margin: auto;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer ul li {
	display: inline;
}

footer ul li+li {
	margin-left: 1em;
}

footer img {
	max-width: 1em;
	margin-right: 5px;
}

footer a {
	text-decoration: none;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.content {
	max-width: 42em;
	margin: auto;
	padding: 1em;
}

.cta {
	margin: auto;
	max-width: 10em;
	padding: .3em 3em;
	background-color: rgb(157, 18, 60);
	border-radius: .2em;
	color: white;
	display: block;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
	transition: filter 0.2s;
}

.cta:hover {
	filter: brightness(130%);
}

.cta:active, .cta:focus {
	filter: brightness(150%);
	background-color: rgb(157, 18, 60);
}

#logo-small {
	margin-right: 1em;
	height: 2em;
	width: auto;
}

@media (min-width: 960px) {
	.left-col {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.left-col h3 {
		margin: 0;
	}
	.row {
		flex-direction: row;
	}
}

@media (min-width: 960px) {
	figure {
		width: 45%;
	}
}

@media (max-width: 720px) {
	.cta {
		padding-left: 1em;
		padding-right: 1em;
	}


	footer {
		padding-left: 0;
		padding-right: 0;
	}

	footer > ul {
		flex-flow: column;
	}
}
