.tabs{

}

.tabs_nav{
	display:flex;
}

.tabs_nav_item{
	display:inline-flex;

	&:first-child > .tabs_nav_link{
		border-radius:6px 0 0 0;
	}

	&:last-child > .tabs_nav_link{
		border-radius:0 6px 0 0;
	}
}

.tabs_nav_link{
	background-color:var(--colorGray100);
	padding: var(--S);

	&.tabs_nav_link-isActive{
		background-color:var(--colorGray200);
	}
}

.tabs_items{
	border:1px solid var(--colorGray200);
	border-radius:0 6px 6px 6px;
}
