{{ $target := .Get "target" }}
{{ $href := .Get "href" }}
{{ $relref := .Get "relref" }}
{{ $text := .Get "text" }}
{{ $mailto := .Get "mailto" }}
{{ $icon := .Get "icon" }}
{{ $type := .Get "type" }}
{{ $size := .Get "size" }}
{{ $shape := .Get "shape" }}

{{ if hasPrefix $href "/" }}
  {{ $href = relref . $href }}
{{ end }}

{{ if $mailto }}
  {{ $href = "mailto:" | printf $mailto }}
{{ end }}

{{ partial "button.html" (dict "target" $target "href" $href "relref" $relref "text" $text "mailto" $mailto "icon" $icon "type" $type "size" $size "shape" $shape "context" .) }}
