*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: calc(1em * 0.625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  background-color: var(--colorWhite);
  font-family: var(--defaultFontFamily);
  font-size: var(--defaultFontSize);
  font-weight: 400;
  color: var(--colorGray700);
  line-height: 2.6rem;
}
