/**
* Custom properties
**/
:root {
  /* Fonts */
  --defaultFontSize: 1.6rem;
  --defaultFontFamily: 'Inter var', sans-serif;

  /* Grid */
  --gridColsNumber: 12;
  --gridColWidth: 84px;
  --gridGuttersNumber: 11;
  --gridGutterWidth: 16px;

  /* Colors */
  --colorPrimary: #240B36;
  --colorSecondary: #C42323;
  --colorPurple: #552143;
  --colorGray800: #222222;
  --colorGray700: #333333;
  --colorGray600: #6A6A6A;
  --colorGray500: #AAAAAA;
  --colorGray400: #C7C7C7;
  --colorGray300: #D8D8D8;
  --colorGray200: #E6E6E6;
  --colorGray100: #F6F6F6;
  --colorWhite: #fff;

  /* Padding & margin */
  --XS3: 2px;
  --XS2: 4px;
  --XS: 8px;
  --S: 12px;
  --M: 16px;
  --L: 24px;
  --XL: 36px;
  --XL2: 48px;
  --XL3: 64px;
  --XL4: 96px;
  --XL5: 112px;

  /* Breakpoints */
  --bpMobileSmall: 480px;
  --bpMobileExtraLarge: 620px;
  --bpTabletSmall: 768px;
  --bpTabletLarge: 1024px;
  --bpGridPlus: 1184px;
  --bpDesktopWide: 1440px;
}
