@define-mixin debug $size: 1px, $color: red {
  outline: $size solid $color;
}

@define-mixin wrapper {
  width: 100%;
}

@define-mixin maxGridWidth $colsNumber:var(--gridColsNumber), $guttersNumber:var(--gridGuttersNumber) {
  max-width: calc((var(--gridColWidth) * $colsNumber) + (var(--gridGutterWidth) * $guttersNumber));
}

@define-mixin grid {
  @mixin maxGridWidth;

  display: grid;
  padding-right: var(--m);
  padding-left: var(--m);
  grid-template-columns: repeat(var(--gridColsNumber), 1fr);
  gap: var(--gridGutterWidth);
  justify-content: center;
  margin: auto;
}

@define-mixin flex {
  @mixin maxGridWidth;

  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-right: var(--m);
  padding-left: var(--m);
}

/* Read https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
@define-mixin height100vh {
  height: calc(var(--vh, 1vh) * 100);
}

/* Read https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
@define-mixin gridAutoFillSpace {
  &::after {
    content: "";
    flex: auto;
  }
}

/* Flex grid generator */
@define-mixin flexCols $colNumber, $gutterNumber {
  max-width: calc((var(--gridColWidth) * $(colnumber)) + (var(--gridGutterWidth) * $(gutternumber)));
  width: 100%;
}

/* Read https://ismamz.github.io/postcss-utilities/docs#word-wrap */
@define-mixin wordWrap {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

/* Read https://codepen.io/raphaelgoetter/pen/KMgBJd?editors=1100 */
@define-mixin flexAutoGrid {
  flex: 1;
  min-width: 0; /* avoid min-width:auto */
}

/* https://gist.github.com/MoOx/9137295 */
@define-mixin resetButton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  cursor: pointer;
}
