header,
footer {
  display: none !important;
}

a {
  color: inherit !important;
}

.hero-isDark .hero_content,
.hero-isDark .hero_content * {
  background-color: transparent !important;
  color: black !important;
}

.banner {
  display: none !important;
}

.card {
  border-color: black !important;
}
