/* float utility */
.float-right {
  float: right;
}
.float-left {
  float: left;
}

/* align utility */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

/* padding left utility */
.pl-0 {
  padding-left: 0;
}
.pl-XS3 {
  padding-left: var(--XS3);
}
.pl-XS2 {
  padding-left: var(--XS2);
}
.pl-XS {
  padding-left: var(--XS);
}
.pl-S {
  padding-left: var(--S);
}
.pl-M {
  padding-left: var(--M);
}
.pl-L {
  padding-left: var(--L);
}
.pl-XL {
  padding-left: var(--XL);
}
.pl-XL2 {
  padding-left: var(--XL2);
}
.pl-XL3 {
  padding-left: var(--XL3);
}
.pl-XL4 {
  padding-left: var(--XL4);
}
.pl-XL5 {
  padding-left: var(--XL5);
}

/* padding right utility */
.pr-0 {
  padding-right: 0;
}
.pr-XS3 {
  padding-right: var(--XS3);
}
.pr-XS2 {
  padding-right: var(--XS2);
}
.pr-XS {
  padding-right: var(--XS);
}
.pr-S {
  padding-right: var(--S);
}
.pr-M {
  padding-right: var(--M);
}
.pr-L {
  padding-right: var(--L);
}
.pr-XL {
  padding-right: var(--XL);
}
.pr-XL2 {
  padding-right: var(--XL2);
}
.pr-XL3 {
  padding-right: var(--XL3);
}
.pr-XL4 {
  padding-right: var(--XL4);
}
.pr-XL5 {
  padding-right: var(--XL5);
}

/* padding top utility */
.pt-0 {
  padding-top: 0;
}
.pt-XS3 {
  padding-top: var(--XS3);
}
.pt-XS2 {
  padding-top: var(--XS2);
}
.pt-XS {
  padding-top: var(--XS);
}
.pt-S {
  padding-top: var(--S);
}
.pt-M {
  padding-top: var(--M);
}
.pt-L {
  padding-top: var(--L);
}
.pt-XL {
  padding-top: var(--XL);
}
.pt-XL2 {
  padding-top: var(--XL2);
}
.pt-XL3 {
  padding-top: var(--XL3);
}
.pt-XL4 {
  padding-top: var(--XL4);
}
.pt-XL5 {
  padding-top: var(--XL5);
}

/* padding bottom utility */
.pb-0 {
  padding-bottom: 0;
}
.pb-XS3 {
  padding-bottom: var(--XS3);
}
.pb-XS2 {
  padding-bottom: var(--XS2);
}
.pb-XS {
  padding-bottom: var(--XS);
}
.pb-S {
  padding-bottom: var(--S);
}
.pb-M {
  padding-bottom: var(--M);
}
.pb-L {
  padding-bottom: var(--L);
}
.pb-XL {
  padding-bottom: var(--XL);
}
.pb-XL2 {
  padding-bottom: var(--XL2);
}
.pb-XL3 {
  padding-bottom: var(--XL3);
}
.pb-XL4 {
  padding-bottom: var(--XL4);
}
.pb-XL5 {
  padding-bottom: var(--XL5);
}

/* margin left utility  */
.ml-0 {
  margin-left: 0;
}
.ml-XS3 {
  margin-left: var(--XS3);
}
.ml-XS2 {
  margin-left: var(--XS2);
}
.ml-XS {
  margin-left: var(--XS);
}
.ml-S {
  margin-left: var(--S);
}
.ml-M {
  margin-left: var(--M);
}
.ml-L {
  margin-left: var(--L);
}
.ml-XL {
  margin-left: var(--XL);
}
.ml-XL2 {
  margin-left: var(--XL2);
}
.ml-XL3 {
  margin-left: var(--XL3);
}
.ml-XL4 {
  margin-left: var(--XL4);
}
.ml-XL5 {
  margin-left: var(--XL5);
}

/* margin right utility */
.mr-0 {
  margin-right: 0;
}
.mr-0 {
  margin-right: 0;
}
.mr-XS3 {
  margin-right: var(--XS3);
}
.mr-XS2 {
  margin-right: var(--XS2);
}
.mr-XS {
  margin-right: var(--XS);
}
.mr-S {
  margin-right: var(--S);
}
.mr-M {
  margin-right: var(--M);
}
.mr-L {
  margin-right: var(--L);
}
.mr-XL {
  margin-right: var(--XL);
}
.mr-XL2 {
  margin-right: var(--XL2);
}
.mr-XL3 {
  margin-right: var(--XL3);
}
.mr-XL4 {
  margin-right: var(--XL4);
}
.mr-XL5 {
  margin-right: var(--XL5);
}

/* margin top utility */
.mt-0 {
  margin-top: 0;
}
.mt-XS3 {
  margin-top: var(--XS3);
}
.mt-XS2 {
  margin-top: var(--XS2);
}
.mt-XS {
  margin-top: var(--XS);
}
.mt-S {
  margin-top: var(--S);
}
.mt-M {
  margin-top: var(--M);
}
.mt-L {
  margin-top: var(--L);
}
.mt-XL {
  margin-top: var(--XL);
}
.mt-XL2 {
  margin-top: var(--XL2);
}
.mt-XL3 {
  margin-top: var(--XL3);
}
.mt-XL4 {
  margin-top: var(--XL4);
}
.mt-XL5 {
  margin-top: var(--XL5);
}

/* margin bottom utility */
.mb-0 {
  margin-bottom: 0;
}
.mb-XS3 {
  margin-bottom: var(--XS3);
}
.mb-XS2 {
  margin-bottom: var(--XS2);
}
.mb-XS {
  margin-bottom: var(--XS);
}
.mb-S {
  margin-bottom: var(--S);
}
.mb-M {
  margin-bottom: var(--M);
}
.mb-L {
  margin-bottom: var(--L);
}
.mb-XL {
  margin-bottom: var(--XL);
}
.mb-XL2 {
  margin-bottom: var(--XL2);
}
.mb-XL3 {
  margin-bottom: var(--XL3);
}
.mb-XL4 {
  margin-bottom: var(--XL4);
}
.mb-XL5 {
  margin-bottom: var(--XL5);
}

/* Breakpoints hiders */
.hide-onMobile{
  @media (--mobileLarge) {
    display:none;
  }
}
