/* float utility */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* text utility */
.text-small {
  font-size: 1.4rem;
}

.text-grayness {
  color: var(--colorGray500);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* padding left utility */
.pl-0 {
  padding-left: 0;
}

.pl-xs3 {
  padding-left: var(--xs3);
}

.pl-xs2 {
  padding-left: var(--xs2);
}

.pl-xs {
  padding-left: var(--xs);
}

.pl-s {
  padding-left: var(--s);
}

.pl-m {
  padding-left: var(--m);
}

.pl-l {
  padding-left: var(--l);
}

.pl-xl {
  padding-left: var(--xl);
}

.pl-xl2 {
  padding-left: var(--xl2);
}

.pl-xl3 {
  padding-left: var(--xl3);
}

.pl-xl4 {
  padding-left: var(--xl4);
}

.pl-xl5 {
  padding-left: var(--xl5);
}

/* padding right utility */
.pr-0 {
  padding-right: 0;
}

.pr-xs3 {
  padding-right: var(--xs3);
}

.pr-xs2 {
  padding-right: var(--xs2);
}

.pr-xs {
  padding-right: var(--xs);
}

.pr-s {
  padding-right: var(--s);
}

.pr-m {
  padding-right: var(--m);
}

.pr-l {
  padding-right: var(--l);
}

.pr-xl {
  padding-right: var(--xl);
}

.pr-xl2 {
  padding-right: var(--xl2);
}

.pr-xl3 {
  padding-right: var(--xl3);
}

.pr-xl4 {
  padding-right: var(--xl4);
}

.pr-xl5 {
  padding-right: var(--xl5);
}

/* padding top utility */
.pt-0 {
  padding-top: 0;
}

.pt-xs3 {
  padding-top: var(--xs3);
}

.pt-xs2 {
  padding-top: var(--xs2);
}

.pt-xs {
  padding-top: var(--xs);
}

.pt-s {
  padding-top: var(--s);
}

.pt-m {
  padding-top: var(--m);
}

.pt-l {
  padding-top: var(--l);
}

.pt-xl {
  padding-top: var(--xl);
}

.pt-xl2 {
  padding-top: var(--xl2);
}

.pt-xl3 {
  padding-top: var(--xl3);
}

.pt-xl4 {
  padding-top: var(--xl4);
}

.pt-xl5 {
  padding-top: var(--xl5);
}

/* padding bottom utility */
.pb-0 {
  padding-bottom: 0;
}

.pb-xs3 {
  padding-bottom: var(--xs3);
}

.pb-xs2 {
  padding-bottom: var(--xs2);
}

.pb-xs {
  padding-bottom: var(--xs);
}

.pb-s {
  padding-bottom: var(--s);
}

.pb-m {
  padding-bottom: var(--m);
}

.pb-l {
  padding-bottom: var(--l);
}

.pb-xl {
  padding-bottom: var(--xl);
}

.pb-xl2 {
  padding-bottom: var(--xl2);
}

.pb-xl3 {
  padding-bottom: var(--xl3);
}

.pb-xl4 {
  padding-bottom: var(--xl4);
}

.pb-xl5 {
  padding-bottom: var(--xl5);
}

/* margin left utility  */
.ml-0 {
  margin-left: 0;
}

.ml-xs3 {
  margin-left: var(--xs3);
}

.ml-xs2 {
  margin-left: var(--xs2);
}

.ml-xs {
  margin-left: var(--xs);
}

.ml-s {
  margin-left: var(--s);
}

.ml-m {
  margin-left: var(--m);
}

.ml-l {
  margin-left: var(--l);
}

.ml-xl {
  margin-left: var(--xl);
}

.ml-xl2 {
  margin-left: var(--xl2);
}

.ml-xl3 {
  margin-left: var(--xl3);
}

.ml-xl4 {
  margin-left: var(--xl4);
}

.ml-xl5 {
  margin-left: var(--xl5);
}

/* margin right utility */
.mr-0 {
  margin-right: 0;
}

.mr-xs3 {
  margin-right: var(--xs3);
}

.mr-xs2 {
  margin-right: var(--xs2);
}

.mr-xs {
  margin-right: var(--xs);
}

.mr-s {
  margin-right: var(--s);
}

.mr-m {
  margin-right: var(--m);
}

.mr-l {
  margin-right: var(--l);
}

.mr-xl {
  margin-right: var(--xl);
}

.mr-xl2 {
  margin-right: var(--xl2);
}

.mr-xl3 {
  margin-right: var(--xl3);
}

.mr-xl4 {
  margin-right: var(--xl4);
}

.mr-xl5 {
  margin-right: var(--xl5);
}

/* margin top utility */
.mt-0 {
  margin-top: 0;
}

.mt-xs3 {
  margin-top: var(--xs3);
}

.mt-xs2 {
  margin-top: var(--xs2);
}

.mt-xs {
  margin-top: var(--xs);
}

.mt-s {
  margin-top: var(--s);
}

.mt-m {
  margin-top: var(--m);
}

.mt-l {
  margin-top: var(--l);
}

.mt-xl {
  margin-top: var(--xl);
}

.mt-xl2 {
  margin-top: var(--xl2);
}

.mt-xl3 {
  margin-top: var(--xl3);
}

.mt-xl4 {
  margin-top: var(--xl4);
}

.mt-xl5 {
  margin-top: var(--xl5);
}

/* margin bottom utility */
.mb-0 {
  margin-bottom: 0;
}

.mb-xs3 {
  margin-bottom: var(--xs3);
}

.mb-xs2 {
  margin-bottom: var(--xs2);
}

.mb-xs {
  margin-bottom: var(--xs);
}

.mb-s {
  margin-bottom: var(--s);
}

.mb-m {
  margin-bottom: var(--m);
}

.mb-l {
  margin-bottom: var(--l);
}

.mb-xl {
  margin-bottom: var(--xl);
}

.mb-xl2 {
  margin-bottom: var(--xl2);
}

.mb-xl3 {
  margin-bottom: var(--xl3);
}

.mb-xl4 {
  margin-bottom: var(--xl4);
}

.mb-xl5 {
  margin-bottom: var(--xl5);
}

/* Breakpoints hiders */
.hide-onMobile {
  @media (--mobileLarge) {
    display: none;
  }
}
