.testimonials {
  display: grid;
  max-width: calc((var(--gridColWidth) * 10 ) + (var(--gridGutterWidth) * 11));
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gridColWidth);
  row-gap: var(--m);

  @media (--tabletSmall) {
    column-gap: var(--m);
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials_item {
  display: flex;
  flex-direction: column;
  gap: var(--m);
}

.testimonials_item_img {
  display: flex;
  height: 80px;

  & > img {
    max-width: 120px;
    max-height: 80px;
    margin: auto auto 0 auto;
  }
}

.testimonials_item_desc {
  text-align: center;
  font-weight: 300;
}
