{{ define "main" }}
<div class="content">
    <h1>{{ .Title}}</h1>
    <p>{{ $.Param "definition" }}</p>
    <p>{{ $.Param "introduction" }}</p>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "fr" }}</h3>
            <div role="presentation" class="country-gradient" id="gradient-fr"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/openfisca-france">GitHub</a>.
            </p> 
        </div>
        <a href="https://fr.openfisca.org/legislation" class="cta">{{ $.Param "explore" }}</a>
    </section>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "tn" }}</h3>
            <div role="presentation" class="country-gradient" id="gradient-tn"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/openfisca-tunisia">GitHub</a>.
            </p>
        </div>
        <a href="https://legislation.openfisca.tn" class="cta">{{ $.Param "explore" }}</a>
    </section>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "sn" }}</h3>
            <div role="presentation" class="country-gradient" id="gradient-sn"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/senegal">GitHub</a>.
            </p>
        </div>
    </section>

    <h1>Other packages</h1>
    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "bcn" }}</h3>
            <div role="presentation" class="country-gradient" id="gradient-bcn"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/lesmevesajudes/openfisca-barcelona">GitHub</a>.
            </p> 
        </div>
    </section>

    <section class="row">
        <h3 class="left-col">{{ $.Param "others" }}</h3>
        <a href="http://openfisca.org/doc/coding-the-legislation/bootstrapping_a_new_country_package.html" class="cta">{{ $.Param "modelize" }}</a>
    </section>
</div>
{{ end }}
