{{ define "main" }}
<div class="content">
    <h1>{{ .Title}}</h1>
    <p>{{ $.Param "definition" }}</p>
    <p>{{ $.Param "introduction" }}</p>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "fr" }}</h3>
            <div id="gradientfr"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/openfisca-france">github</a>.
            </p>
        </div>
        <a href="https://legislation.openfisca.fr" class="cta">{{ $.Param "explore" }}</a>
    </section>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "tn" }}</h3>
            <div id="gradienttn"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/openfisca-tunisia">github</a>.
            </p>
        </div>
        <a href="https://legislation.openfisca.tn" class="cta">{{ $.Param "explore" }}</a>
    </section>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "cat" }}</h3>
            <div id="gradientcat"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/jvalduvieco/openfisca-barcelona">github</a>.
            </p>
        </div>
    </section>

    <section class="row">
        <div class="left-col">
            <h3>{{ $.Param "sn" }}</h3>
            <div id="gradientsn"></div>
            <p>
                {{ $.Param "sources_introduction" }} <a href="https://github.com/openfisca/senegal">github</a>.
            </p>
        </div>
    </section>

    <section class="row">
        <h3 class="left-col">{{ $.Param "others" }}</h3>
        <a href="https://doc.openfisca.fr/coding-the-legislation/bootstrapping_a_new_country_package.html" class="cta">{{ $.Param "modelize" }}</a>
    </section>
</div>
{{ end }}
