{{ define "main" }}
<div class="content">
	<h1>Legal notice</h1>
	<div id="legal-notice">
		<section>
			<h3>Editor</h3>
			<div>
				<p>Etalab</p>
				<ul>
					<li><a href="https://www.etalab.gouv.fr/en/">https://www.etalab.gouv.fr/en/</a></li>
					<li>39–43 quai André-Citroën, 75015 Paris</li>
				</ul>
				<p>Editorial director</p>
				<ul><li>Etalab Director - Laure Lucchesi</li></ul>
			</div>
		</section>

		<section>
			<h3>Hosting provider</h3>
			<div>
				<p>
					<a href="https://enterprise.github.com">GitHub, Inc</a>
				</p>
				<ul>
					<li>88 Colin P Kelly Jr St</li>
					<li>San Francisco, CA 94107 - United States</li>
					<li><a href="tel:+1-877-448-4820">+1 (877) 448-4820</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
{{ end }}
