{{ define "main" }}
<div class="content">
	<h1>{{ .Title}}</h1>
	<div id="legal-notice">
		<section>
			<h3>{{ $.Param "editor.title" }}</h3>
			<div>
				<p>Agence Nationale de la Cohésion des Territoires</p>
				<ul>
					<li><a href="{{ $.Param "editor.url" }}">{{ $.Param "editor.url" }}</a></li>
					<li>Mission incubateur de services numériques </li>
					<li>20, avenue de Ségur<br>
					TSA 10717<br>
					75 334 Paris Cedex 07</li>
					<li><a href="tel:+33-855-860-00">+33 1 85 58 60 00</a></li>
				</ul>
				<p>{{ $.Param "editor.editorial_director.title" }}</p>
				<ul><li>{{ $.Param "editor.editorial_director.description" }}</li></ul>
			</div>
		</section>

		<section>
			<h3>{{ $.Param "hosting_provider.title" }}</h3>
			<div>
				<p>
					<a href="https://enterprise.github.com">GitHub, Inc</a>
				</p>
				<ul>
					<li>88 Colin P Kelly Jr St</li>
					<li>San Francisco, CA 94107 - United States</li>
					<li><a href="tel:+1-877-448-4820">+1 (877) 448-4820</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
{{ end }}
