{{ define "main" }}
<div class="content">
    <h1>{{ .Title}}</h1>
    <p>{{ $.Param "definition" }}</p>
    <p>{{ $.Param "introduction" }}</p>

    {{ range $.Site.Data.packages }}
        <section class="row">
            <div class="left-col">
                <h3>{{ index .title $.Site.Language.Lang }}</h3>
                <div role="presentation" class="country-gradient" id="gradient-{{ .jurisdiction | lower }}"></div>
                <p>
                    {{ $.Param "sources_introduction" }} <a href="{{ .source }}">GitHub</a>.
                </p> 
            </div>
            {{ if .website }}
                <a href="{{ .website }}" class="cta">{{ $.Param "explore" }}</a>
            {{ end }}
        </section>
    {{ end }}

    <section class="row">
        <h3 class="left-col">{{ $.Param "others" }}</h3>
        <a href="https://openfisca.org/doc/coding-the-legislation/bootstrapping_a_new_country_package.html" class="cta">{{ $.Param "modelize" }}</a>
    </section>
</div>
{{ end }}
