{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <img id="logo" src="/img/logo-openfisca.svg" alt="OpenFisca">

        <h1>{{ .Title }}</h1>

        <a href="https://doc.openfisca.fr" class="cta">Get started  🙌</a>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>
    </article>
    <aside class="ph3 mt2 mt6-ns">
      {{ partial "menu-contextual.html" . }}
    </aside>
  </div>
{{ end }}
