{{ define "main" }}
<div class="content">
	<h1>{{ .Title}}</h1>
	<section>
		<p>
			{{ $.Param "introduction" }}
		</p>
		<iframe class="optout" src="https://stats.data.gouv.fr/index.php?module=CoreAdminHome&action=optOut&language={{ .Lang }}"></iframe>

		<h3>{{ $.Param "consent.title" }}</h3>
		<p>
			<a href="https://www.piwik.org">Piwik</a>
			{{ $.Param "consent.description_1" }}
			<a href="https://www.cnil.fr/fr/solutions-pour-la-mesure-daudience"  hreflang="fr-FR">
				<abbr title="Commission Nationale de l'Informatique et des Libertés">CNIL</abbr>
			</a>
			{{ $.Param "consent.description_2" }}
		</p>
		<h3>{{ $.Param "data.title" }}</h3>
		<p>
			{{ $.Param "data.description" }} <a href="http://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=4&period=range&date=previous30#?module=Dashboard&action=embeddedIndex&idSite=4&period=range&date=previous30&idDashboard=1">stats.data.gouv.fr</a>
		</p>
	</section>
</div>
{{ end }}
