.announcement {
  @mixin wrapper;

  background-color: var(--colorSecondary);
  text-align: center;
}

.announcement_content {
  @mixin flex;

  justify-content: center;
  align-items: center;
  gap: var(--s);

  padding: var(--xs);
  color: var(--colorWhite);
  font-size: 1.4rem;
}
