header {
	padding-top: 1em;
	padding-bottom: 4em;
	margin-bottom: 3em;
	background-color: #222;
}

header .cta {
	margin: auto;
	max-width: 10em;
	padding: .3em 3em;
	background-color: rgb(157, 18, 60);
	border-radius: .2em;
	box-shadow: 0 0.2em 0 rgb(107, 14, 43);
	color: white;
	display: block;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-bottom: 2em;
}

#logo-large {
	margin: 5em auto 0 auto;
	width: 10em;
	display: block;
}


@media (min-width: 960px) {
	section {
		flex-direction: row;
	}

	figure {
		width: 45%;
	}

	.left-col {
		width: 50%
	}
}

.get-started {
	margin-top: 2em;
}
