@media (min-width: 960px) {
	section {
		flex-direction: row;
	}
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 3em;
	background-color: #222;
}

h1 {
	text-align: center;
	margin-bottom: 2em;
}

#logo-large {
	margin: 5em auto 0 auto;
	width: 10em;
	display: block;
}
