body {
	margin: 0;
	font-size: 140%;
	background-color: #333;
	color: #FFF;
	font-family: "Helvetica Neue",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	background-color: #222;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

h2, h3 {
	font-weight: normal;
}

p {
	font-weight: 300;
}

a {
	text-decoration: underline;
	color: inherit;
}

#logo-small {
	margin: auto;
	width: 5em;
	display: block;
}

section {
	max-width: 42em;
	margin: auto;
	padding: 1em;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

figure {
	margin: 0;
}

figure img, figure video, figure figcaption {
	width: 100%;
}

figcaption {
	font-size: 80%;
	padding-top: 1em;
}

.content {
	max-width: 42em;
	margin: auto;
	padding: 1em;
}

.cta {
	margin: 2em auto;
	max-width: 10em;
	padding: .3em .5em;
	background-color: rgb(157, 18, 60);
	border-radius: .5em;
	color: white;
	display: block;
	font-size: 130%;
	text-align: center;
	text-decoration: none;
	transition: .2s box-shadow;
}

.cta:hover, .cta:focus {
	box-shadow: rgb(157, 18, 60) 0 0 .2em;
}

ul {
	list-style-type: none;
	font-size: 80%;
}

ul li {
	margin: 1em;
}
#gradientfr {
	border: 2px solid;
	border-image:linear-gradient(to right, #333, blue, white, red, #333) 1;
}

#gradienttn {
	border: 2px solid;
	border-image:linear-gradient(to right, #333, red, white, red, #333) 1;
}

#gradientsn {
	border: 2px solid;
	border-image:linear-gradient(to right, #333, green, yellow, red, #333) 1;
}

footer {
	border-top-style: solid;
	border-width: 2px;
	border-color: #FFF;

	margin-top: 2em;
	padding: 3em;

	background-color: #222;
}


footer ul {
	margin: auto;
	padding: 1em;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

footer ul li {
	display: inline;
}

footer ul li+li {
	margin-left: 1em;
}

footer img {
	max-width: 1em;
}
