{{ $imageSrc := "/img/showcase/default.png" }}
{{ $imageSlug := .title | urlize }}
{{ $newImageSrc := printf "/img/showcase/%s.jpg" $imageSlug }}
{{ if ( os.FileExists ( printf "/static%s" $newImageSrc ) ) }}
	{{ $imageSrc = $newImageSrc}}
{{ end }}

<div class="card{{ if .website }} card-hasLink{{ end }}{{ with .until }} card-isUntil{{ end }}">
	{{ if not .until }}
		<div class="card_image">
			<img class="screenshot" src="{{ $imageSrc }}" alt="{{ .title }}" />
		</div>
	{{ end }}
	<div class="card_titleWrapper">
		{{ if not .until }}<h3 class="card_title">{{ .title }}</h3>{{ end }}
		{{ if .until }}<h4 class="card_title">{{ .title }}</h4>{{ end }}
		<div class="card_flag flag flag-{{ .country }}"><span>{{ .country }}</span></div>
	</div>
	<div class="card_desc">
		{{ .description }}
	</div>
	{{ with .tags }}
		<div class="card_tags">
			<ul class="tags">
				{{ range . }}
					<li class="tag">{{ . }}</li>
				{{ end }}
			</ul>
		</div>
	{{ end }}
	{{ if .until }}<p class="text-small"><span class="text-grayness">{{ .until | time.Format "January 2006" }} - </span><a href="{{ .website | safeURL }}" class="link-isDisabled" rel="noFollow">{{ .website }}</a></p>{{ end }}
	{{ if not .until }}<a class="card_link" target="_blank" href="{{ .website | safeURL }}">{{ .website | safeURL }}</a>{{ end }}
</div>
