{{ $imagePath := "img/showcase/default.png" }}
{{ if .id }}
  {{ $customImagePath := printf "img/showcase/%s.png" .id }}
  {{ if resources.Get $customImagePath }}
    {{ $imagePath = $customImagePath }}
  {{ end }}
{{ end }}

{{ $authorType := .Site.Params.showcase.author.types.icons.default }}
{{ with .author }}{{ with .type }}{{ $authorType = . }}{{ end }}{{ end }}
{{ $authorTypeIcon := index .Site.Params.showcase.author.types.icons $authorType }}

{{ $package := dict }}
{{ range $.Site.Data.packages }}
	{{ if eq .name $.package }}
		{{ $package = . }}
	{{ end }}
{{ end }}

<div id="{{ .id }}" class="card {{ if .website }}{{ if not .until }}card-hasLink{{ end }}{{ end }}">
	{{ with resources.Get $imagePath }}
		<div class="card_image">
			<img class="screenshot" src="{{ .RelPermalink }}" alt="{{ $.title }}" />
		</div>
	{{ end }}
	<div class="card_titleWrapper">
		<h3 class="card_title">{{ .title }}</h3>
		{{ with $package }}{{ with $package.jurisdiction }}
			{{ partial "flag.html" (dict "jurisdiction" . "class" "card_flag") }}
		{{ end }}{{ end }}
	</div>
	<div class="card_desc">
		{{ .description }}
	</div>
	{{ with .tags }}
		<div class="card_tags">
			<ul class="tags">
				{{ range . }}
					<li class="tag">{{ . }}</li>
				{{ end }}
			</ul>
		</div>
	{{ end }}
	{{ with .website }}
		{{ if not $.until }}
				<a class="card_link" target="_blank" href="{{ . | safeURL }}">{{ . | safeURL }}</a>
		{{ end }}
	{{ end }}
	{{ with .author }}{{ with .name }}
		<div class="card_author">
				<div class="card_author_icon iconWrapper iconWrapper-rounded">
					<i icon-name="{{ $authorTypeIcon }}"></i>
				</div>			
				<div class="card_author_name">
					{{ . }}
				</div>		
		</div>
	{{ end }}{{ end }}
</div>
