<footer class="footer">
	<div class="footer_content">
		<div class="footer_baseline"><§> #RulesAsCode</div>
		<nav class="footer_nav">
			<ul class="footer_nav_items">
				<li class="footer_nav_item">
					<a class="footer_nav_link" href="#">
						Contact us
					</a>
				</li>
				<li class="footer_nav_item">
					<a class="footer_nav_link" href="#">
						Services status
					</a>
				</li>
				<li class="footer_nav_item">
					<a class="footer_nav_link" href="#">
						Improve this page
					</a>
				</li>
				<li class="footer_nav_item">
					<a class="footer_nav_link" href="#">
						Analytics policy
					</a>
				</li>
				<li class="footer_nav_item">
					<a class="footer_nav_link" href="#">
						Legal notice
					</a>
				</li>
			</ul>
		</nav>
	</div>

</footer>

{{ $ludcideJs := resources.Get "js/lucide.js" | js.Build }}
<script src="{{ $ludcideJs.RelPermalink }}"></script>

{{ $headerJs := resources.Get "js/header.js" | js.Build }}
<script src="{{ $headerJs.RelPermalink }}"></script>
