<header class="header">
	<div class="header_content">
		<div class="header_logo">
			<a class="header_logo_link" href="{{ "/" | relLangURL }}">
				<svg class="logo"><use href="#logo"></use></svg>
			</a>
		</div>
		<div class="header_collapse">
			<span class="header_collapse_label">Menu</span>
			<i class="header_collapse_icon header_collapse_icon-open" icon-name="menu"></i>
			<i class="header_collapse_icon header_collapse_icon-close" icon-name="x"></i>
		</div>
		<nav class="header_nav">
			<ul class="header_nav_items">
				{{ range .Site.Menus.header }}
					<li>
						<a class="header_nav_link" href="{{ absLangURL .URL }}">
							{{ .Name }}
						</a>
					</li>
				{{ end }}
			</ul>
		</nav>
		<nav class="header_social">
			<ul class="header_social_items">
				<li class="header_social_item"><a class="header_social_link" href="{{ site.Params.github }}"><i class="header_social_icon" data-simple-icon="github">GitHub</i></a></li>
				<li class="header_social_item"><a class="header_social_link" href="{{ site.Params.slack }}"><i class="header_social_icon" data-simple-icon="slack">Slack</i></a></li>
				<li class="header_social_item"><a class="header_social_link" href="{{ site.Params.mastodon }}"><i class="header_social_icon" data-simple-icon="mastodon">Mastodon</i></a></li>
			</ul>
		</nav>
	</div>
</header>
