<div class="testimonials">
	{{ range .testimonials }}
		{{ $alt := .title }}
		{{ if .author }}{{ $alt = .author }}{{ end }}
		{{ with .link }}<a href="{{ . }} ">{{ end }}
			<div class="testimonials_item">
				{{ if .image }}
					<div class="testimonials_item_img">
						<img src="/img/testimonials/{{ .image }}" alt="{{ $alt }}" title="{{ $alt }}" />
					</div>
				{{ end }}
				{{ with .title }}
					<p class="testimonials_item_desc">
						{{ . }}
					</p>
				{{ end }}
			</div>
		{{ with .link }}</a>{{ end }}
	{{ end }}
</div>
