<footer>
    <ul>
        <li><a href="index.html">{{ $.Param "links.index" }}</a></li>
        <li><a href="countries.html">{{ $.Param "links.countries" }}</a></li>
        <li><a href="tracking.html">{{ $.Param "links.analytics" }}</a></li>
        <li>
            <a id="github" target="_blank"><img src="/img/GitHub-Mark-Light-64px.png" alt=""/> {{ $.Param "links.contribute" }}</a>
        </li>
        <li><a href="mailto:contact@openfisca.org?Subject=openfisca.org">{{ $.Param "links.contact" }}</a></li>
        <li><a href="legal-notice.html">{{ $.Param "links.legal_notice" }}</a></li>
    </ul>
</footer>

<script type="text/javascript" src="assets/scripts/edit-page.js"></script>
<script type="text/javascript" src="assets/scripts/track-page.js"></script>
<noscript>
    openfisca.org needs JavaScript to work properly.
    Please follow <a href="http://www.enable-javascript.com">instructions to activate JavaScript in your browser</a>.
</noscript>
