<footer>
    <ul>
      <li><a href="mailto:contact@openfisca.org?Subject=openfisca.org">{{ $.Site.Params.contact }}</a></li>
      <li><a id="github" target="_blank"><img src="/img/GitHub-Mark-Light-64px.png" alt=""/> {{ $.Site.Params.contribute }}</a></li>
      <li><a href="{{ "tracking" | relLangURL }}">{{ $.Site.Params.analytics }}</a></li>
      <li><a href="{{ "legal-notice" | relLangURL }}">{{ $.Site.Params.legal_notice }}</a></li>
    </ul>
</footer>

<script type="text/javascript" src="/scripts/edit-page.js"></script>
<script type="text/javascript" src="/scripts/track-page.js"></script>
<noscript>
    openfisca.org needs JavaScript to work properly.
    Please follow <a href="http://www.enable-javascript.com">instructions to activate JavaScript in your browser</a>.
</noscript>
