.text {
  & > p:not(:last-child) {
    margin-bottom: var(--m);

    & + h2 {
      margin-top: var(--xl2);
    }

    & + h3 {
      margin-top: var(--xl);
    }
  }

  & > h2 {
    margin-bottom: var(--l);
  }

  & > h3 {
    margin-bottom: var(--m);
  }

  & > h4 {
    margin-bottom: var(--s);
  }

  & > iframe {
    width: 100%;
  }
}
