.text{

	& > p:not(:last-child){
		margin-bottom:var(--M);

		& + h2{
			margin-top:var(--XL2);
		}

		& + h3{
			margin-top:var(--XL);
		}
	}
	& >  h2{
		margin-bottom:var(--L);
	}

	& >  h3{
		margin-bottom:var(--M);
	}

	& >  h4{
		margin-bottom:var(--S);
	}

	& > iframe{
		width:100%;
	}
}
