<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="favicon.ico">

		<title>OpenFisca - {{ .Title}}</title>

		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="main-header">
			{{ partial "menu-links.html" . }}

			<div class="hero">
				<img id="logo-large" src="/img/logo-openfisca.svg" alt="OpenFisca">

				<h1>{{ .Title}}</h1>

				<a href="{{ "countries" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>
			</div>
		</header>


		<h1 id="products">{{ $.Param "products" }}  🚀</h1>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.mes_aides.title" }}</h3>
				<p>{{ $.Param "usecases.mes_aides.description" }}</p>
			</div>

			<figure>
				<video class="screenshot" src="/videos/mes-aides.mp4" poster="/img/mes-aides.png" controls></video>
				<figcaption><a href="https://beta.gouv.fr/startup/mes-aides">Mes Aides</a> {{ $.Param "usecases.mes_aides.caption_1" }} <a href="https://doc.openfisca.fr/openfisca-web-api/index.html">Web API</a> {{ $.Param "usecases.mes_aides.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.embauche.title" }}</h3>
				<p>{{ $.Param "usecases.embauche.description" }}</p>
			</div>

			<figure>
				<video class="screenshot" src="/videos/embauche.mp4" controls></video>
				<figcaption><a href="https://embauche.beta.gouv.fr/">Embauche</a> {{ $.Param "usecases.embauche.caption_1" }} <a href="https://doc.openfisca.fr/contribute/extensions.html">extension</a> {{ $.Param "usecases.embauche.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.reforms.title" }}</h3>
				<p>{{ $.Param "usecases.reforms.description" }}</p>
			</div>

			<figure>
				<img class="screenshot" src="/img/revenu-de-base.jpg" alt="Comment appréhender le coût d’un revenu de base ?">
				<figcaption><a href="http://www.revenudebase.info/2017/04/07/apprehender-cout-dun-revenu-de-base/">Publication</a> {{ $.Param "usecases.reforms.caption_1" }} <a href="https://github.com/openfisca/openfisca-france#a-installation-minimale-pip-install">Python API</a> {{ $.Param "usecases.reforms.caption_2" }}</figcaption>
			</figure>
		</section>

		<a href="{{ "countries" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>

		{{ partial "footer.html" . }}
	</body>
</html>
