<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="/img/favicon.ico">

		<title>OpenFisca - {{ .Title}}</title>

		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="main-header">
			{{ partial "menu-links.html" . }}

			<div class="hero">
				<img id="logo-large" src="/img/logo-openfisca.svg" alt="OpenFisca">

				<h1>{{ .Title}}</h1>

				<a href="{{ "countries" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>
			</div>
		</header>


		<h1 id="products">{{ $.Param "products" }}  🚀</h1>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.mes_aides.title" }}</h3>
				<p>{{ $.Param "usecases.mes_aides.description" }}</p>
			</div>

			<figure>
				<img class="screenshot" src="/img/mes-aides.png" alt="Mes Aides">
				<figcaption><a href="https://beta.gouv.fr/startup/mes-aides">Mes Aides</a> {{ $.Param "usecases.mes_aides.caption_1" }} <a href="http://openfisca.org/doc/openfisca-web-api/index.html">Web API</a> {{ $.Param "usecases.mes_aides.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col"></div>

			<figure>
				<img class="screenshot" src="/img/les-meves-ajudes.png" alt="Les mes ajudes">
				<figcaption><a href="https://ajuntament.barcelona.cat/lesmevesajudes/">Les meves ajudes</a> {{ $.Param "usecases.les_meves_ajudes.caption_1" }} <a href="https://openfisca.org/doc/openfisca-web-api/index.html">Web API</a> {{ $.Param "usecases.les_meves_ajudes.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.leximpact.title" }}</h3>
				<p>{{ $.Param "usecases.leximpact.description" }}</p>
			</div>

			<figure>
				<img class="screenshot" src="/img/leximpact.png" alt="LexImpact">
				<figcaption><a href="https://leximpact.beta.gouv.fr/">LexImpact</a> {{ $.Param "usecases.leximpact.caption_1" }} <a href="https://openfisca.org/doc/openfisca-python-api/index.html">Python API</a> {{ $.Param "usecases.leximpact.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.reforms.title" }}</h3>
				<p>{{ $.Param "usecases.reforms.description" }}</p>
			</div>

			<figure>
				<img class="screenshot" src="/img/revenu-de-base.jpg" alt="Comment appréhender le coût d’un revenu de base ?">
				<figcaption><a href="http://www.revenudebase.info/2017/04/07/apprehender-cout-dun-revenu-de-base/">Publication</a> {{ $.Param "usecases.reforms.caption_1" }} <a href="https://openfisca.org/doc/openfisca-python-api/index.html">Python API</a> {{ $.Param "usecases.reforms.caption_2" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col">
				<h3>{{ $.Param "usecases.rapu_ture.title" }}</h3>
				<p>{{ $.Param "usecases.rapu_ture.description" }}</p>
			</div>

			<figure>
				<img class="screenshot" src="/img/rapu-ture.png" alt="Rapu Ture - Exploring the Rules">
				<figcaption><a href="http://nz.openfisca.org/">Rapu Ture</a> {{ $.Param "usecases.rapu_ture.caption" }}</figcaption>
			</figure>
		</section>

		<section class="row">
			<div class="left-col"></div>

			<figure>
				<img class="screenshot" src="/img/legexp-nsw.png" alt="New South Wales's Legislation Explorer">
				<figcaption><a href="http://nsw-rules.herokuapp.com/">New South Wales</a> {{ $.Param "usecases.legexp_nsw.caption_1" }} <a href="https://github.com/openfisca/legislation-explorer">Legislation Explorer</a> {{ $.Param "usecases.legexp_nsw.caption_2" }}</figcaption>
			</figure>
		</section>

		<a href="{{ "countries" | relLangURL }}" class="cta get-started">{{ $.Param "get_started" }}  🙌</a>

		{{ partial "footer.html" . }}
	</body>
</html>
