.columns{
	@mixin wrapper;
}

.columns_content{
	@mixin grid;
	padding-top:var(--XL5);
	padding-bottom:var(--XL5);

	@media (--tabletSmall) {
		padding-top:var(--XL3);
		padding-bottom:var(--XL3);
	}
}

.column{
	display:flex;
	flex-wrap:nowrap;
}

.column_icon{
	flex-shrink: 0;
	width:var(--gridColWidth);
	display:flex;
	justify-content: center;
}

.colum_content{
}

.colum_title{
	margin-bottom:var(--S);
}
