.columns {
  @mixin wrapper;
}

.columns_content {
  @mixin grid;

  padding-top: var(--xl5);
  padding-bottom: var(--xl5);

  @media (--tabletSmall) {
    padding-top: var(--xl3);
    padding-bottom: var(--xl3);
  }
}

.column {
  display: flex;
  flex-wrap: nowrap;
}

.column_icon {
  flex-shrink: 0;
  width: var(--gridColWidth);
  display: flex;
  justify-content: center;
}

.colum_content{
}

.colum_title {
  margin-bottom: var(--s);
}
