.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--xl);
  border-radius: 6px;
  border: 1px solid var(--colorGray300);
  background-color: var(--colorGray100);
}

.banner_content{
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--s);

  @media (--tabletSmall) {
    flex-direction: column;
  }
}

.banner-dark{
  background-color: var(--colorPrimary);
  border:none;
}

.banner_bg{
  position: absolute;
  right: -100px;
  top: -140px;
  z-index: 1;

  & > svg {
    width: 943px;
    height: 951px;
  }

  @media (--tabletSmall) {
    left: 50%;
  }
}
