.cta {
  @mixin wrapper;

  overflow: hidden;
  position: relative;
}

.cta_content {
  @mixin flex;

  flex-direction: column;
  align-items: center;
  gap: var(--l);
  padding-top: var(--xl5);
  padding-bottom: var(--xl5);

  @media (--tabletSmall) {
    padding-top: var(--xl3);
    padding-bottom: var(--xl3);
  }
}

.cta_bg {
  position: absolute;
  bottom: -540px;
  left: 50%;
  transform: translateX(-50%) rotate(75deg);
  z-index: 1;

  & > svg {
    width: 943px;
    height: 951px;
    opacity: 0.2;
  }

  @media (--tabletSmall) {
    bottom: -640px;
  }
}

.cta_title,
.cta_subtitle {
  @mixin maxGridWidth 8,9;

  text-align: center;
  z-index: 2;
}

.cta_link {
  z-index: 2;
  margin-top: var(--xl);
}
