.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colorGray200);
  border-radius: 6px;
  gap: var(--s);
  padding: var(--l) var(--l) var(--xl) var(--l);

  &.card-hasLink {
    cursor: pointer;
    position: relative;

    &:hover {
      border: 1px solid var(--colorSecondary);
    }
  }
}

.card_titleWrapper {
  display: flex;
  align-items: center;
  column-gap: var(--xs2);
}

.card_flag {
  margin-top: var(--xs2);
  margin-left: var(--xs2);
}

.card_desc {
  margin-bottom: var(--l);
}

.card_tags {
  margin-top: auto;
}

.card_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}
