.members {
  grid-column: auto / span 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gridGutterWidth);

  @media (--tabletLarge) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--mobileLarge) {
    grid-template-columns: repeat(1, 1fr);
  }
}
