.member {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colorGray200);
  border-radius: 6px;
  gap: var(--s);
  padding: var(--m);
  text-align: center;

  &.member-hasLink {
    cursor: pointer;
    position: relative;

    &:hover {
      border: 1px solid var(--colorSecondary);
    }
  }

  &.member-placeholder {
    align-items: center;
    justify-content: center;
    background-color: var(--colorGray100);
  }
}

.member_image {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

h4.member_name {
  margin-top: auto;
  margin-bottom: 0;

  &:before {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: var(--m);
    margin-top: var(--m);
    width: 20%;
    height: 1px;
    background-color: var(--colorGray200);
  }
}

.member_website {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--colorGray600);
}

.member_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}
